# build output
dist/
.wrangler/

# generated types
.astro/

# dependencies
node_modules/

# typescript
*.tsbuildinfo

# vite
.vite/
*.timestamp-*.mjs

# logs
*.log

# environment variables
.env
.env.*

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Windows
Thumbs.db
Desktop.ini
